body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: cornflowerblue;
  }
  
.game-board {
    display: grid;
    padding-top: 10%;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;   
      
}

.game-space {
    background-color: goldenrod;
    border: 1px solid lightgoldenrodyellow;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 250px;
    color: rgb(228, 118, 77)
}

.disabled {
    cursor: not-allowed;
}

.game-space:not(.disabled):hover {
    background: pink;
}

.button-group {
    padding-left: 5%;
    padding-top: 10%
}

.end-game-text {
    position: absolute;
    margin-top: 15px;
    margin-right: 300px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color:rgb(228, 118, 77);
    background-color: pink;
    display: inline-block;
    width: 400px;
}

button {
    display:block;
    background-color: pink;
    color: rgb(228, 118, 77);
    width: 250px;
    height: 40px;
}

.player-text {
    background-color: rgb(228, 118, 77);
    color: pink;
    writing-mode:vertical-rl;
    height: 550px;
    margin-top: 140px;
    padding-top: 50px;
    padding-right: 15px;
    width: 30px;
    font-family: sans-serif;
    font-style: bold;
    font-size: large;
  
}
    
  
    



  

  
  